<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>menuOpciones</servlet-name>
        <servlet-class>Servlets.menuOpciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarAlumno</servlet-name>
        <servlet-class>Servlets.registrarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarAlumnos</servlet-name>
        <servlet-class>Servlets.listarAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAlumno</servlet-name>
        <servlet-class>Servlets.getAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarAlumno</servlet-name>
        <servlet-class>Servlets.eliminarAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>menuOpciones</servlet-name>
        <url-pattern>/menuOpciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarAlumno</servlet-name>
        <url-pattern>/registrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarAlumnos</servlet-name>
        <url-pattern>/listarAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAlumno</servlet-name>
        <url-pattern>/getAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarAlumno</servlet-name>
        <url-pattern>/eliminarAlumno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
